@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Funds Gate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Funds Gate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.Claims.ToList() != null && User.Claims.ToList().Count() > 0 && User.Claims.ToList()[1].Value != null && (User.Claims.ToList()[1].Value == "admin" || User.Claims.ToList()[1].Value == "MasterAdmin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Share</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Deposit" asp-action="Index">Deposit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cbill" asp-action="Index">Cbill</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                            </li>

                            if (User.Claims.ToList()[1].Value == "MasterAdmin")
                            {
                                <li class="nav-item">
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Assign Menus</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-area="" asp-controller="MenuMaster" asp-action="AddMenuForRole">Role Menu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-area="" asp-controller="MenuMaster" asp-action="Index">User Menu</a>
                                        </li>
                                    </ul>
                                </li>
                               
                            }

                        }
                        else if (User.Claims.ToList() != null && User.Claims.ToList().Count() > 0 && User.Claims.ToList()[1].Value != null && User.Claims.ToList()[1].Value == "customer")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Share</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Deposit" asp-action="Index">Deposit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a>
                            </li>


                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>

                        }
                        <li class="nav-item">
                            @if (User.Claims.ToList() != null && User.Claims.ToList().Count() > 0 && User.Claims.ToList()[2].Value != null)
                            {<a class="nav-link text-white"> @User.Claims.ToList()[2].Value.ToString() </a>}
                        </li>



                    </ul>
                </div>
            </div>
        </nav>

        @*<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
                <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">My Funds Gate</a></h5>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <nav class="navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            @if (User.Claims.ToList() != null && User.Claims.ToList().Count() > 0 && User.Claims.ToList()[1].Value != null && User.Claims.ToList()[1].Value == "admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Deposit" asp-action="Index">Deposit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Cbill" asp-action="Index">Cbill</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                                </li>

                            }
                            else if (User.Claims.ToList() != null && User.Claims.ToList().Count() > 0 && User.Claims.ToList()[1].Value != null && User.Claims.ToList()[1].Value == "customer")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Deposit" asp-action="Index">Deposit</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a>
                                </li>


                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Auth" asp-action="Login">Login</a>
                                </li>

                            }
                            <li class="nav-item">
                                @if (User.Claims.ToList() != null && User.Claims.ToList().Count() > 0 && User.Claims.ToList()[2].Value != null)
                                {<a class="nav-link text-white"> @User.Claims.ToList()[2].Value.ToString() </a>}
                            </li>



                        </ul>

                    </nav>
                </div>
                <a class="btn btn-outline-primary" href="#">Sign up</a>
            </div>*@
    </header>

    <div class="d-flex  flex-column h-100" style="margin-top: -17px!important;">
        <partial name="_Notification" />
        <partial name="_BusyIndicatoPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; @DateTime.Now.Year - C&SS IT SOLUTIONS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/Datatable/jquery.dataTables.js"></script>
    <script src="~/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>





    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        function displayBusyIndicator() {
            document.getElementById("loading").style.display = "block";
        }
    </script>
</body>
</html>